html{
    font-family: 'Playpen Sans', cursive;;
    grid-template-areas:
    "topofpage"
    "quotegenerator"
    "footer";
    margin: 10%;
    padding: 5%;
    grid-template-columns: "20% 60% 20%";
    margin: auto;
    width: 40%;
    background-color: #ffa953;
    text-align: center;
}

#header{grid-area: topofpage;}
#quotegen{grid-area: quotegenerator;}
#quotegen p{
    position:relative;
    top: 150px;
}
#quotegen img{
    min-width:50%;
}
#quotegen a{
    text-decoration: none;
}
#footer{grid-area: footer;}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b46900; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover {
    background-color: #ff8400; 
    color: white;
  }

  .button:active {
    background-color: #ffab2d; 
    color: white;
  }