html,
body {
  height: 100%;
  margin: 1%;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}

p {
  color: white;
  margin: 1em;
  text-align: center;
}

h1 {
  color: red;
}